:root{
    --color-off-white:#FCFBFF;
    --color-white:#FFFFFF;
    --color-muted-text:#DADADA;
    --color-orange:#FF8921;
    --color-black:#000000;
    --color-light:#5c5c5c;

    --card-border-radius:2rem;
    --card-padding:1.8rem;
    --box-shadow:0 2rem 3rem var(--color-light);
}

*{
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.top-container {
	height: 100vh;
	background-color: var(--color-off-white);
	color: white;
	margin: 0px 20px;
}

/* ========== navbar=========== */
.top-navbar {
	width: auto;
	height: 90px;
	padding: 0px 30px;
	background-color: var(--color-black);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo { 
    padding:8px;
        display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
}
.logo .logo-text{
    display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
}
.logo .logo-text :first-child {
     color: white;
     font-weight: 700;
     font-size: 1.2rem;
}
.logo .logo-text :last-child {
    color: rgb(185, 185, 185);
    font-weight: 300;
        font-size: .8rem;
}
.right-content {
	display: flex;
    align-items: center;
    justify-content: center;
    
}
.right-content :first-child{
    color: var(--color-white);
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.right-content :nth-child(2){
    color: var(--color-orange);
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin: 0px 12px;

}
.right-content .profile-dropdown{
    width: 200px;
    height: 60px;
  background-color: var(--color-off-white);
        display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 22px;
            cursor: pointer;
}
.right-content .profile-dropdown .content {
    display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 5px 12px; */

}
.right-content .profile-dropdown .content span{

    font-size: 20px;
    font-weight: 500;

}
/* ==========End of navbar=========== */
.main-container {
	height: 90vh;
	color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;

}
/* ==========Side bar start=========== */
.sidebar{
   height: auto;
background-color: var(--color-black);
display: flex;
justify-content: center;
align-items: start;

}
.sidebar .sidebar-content{
    margin-top: 50px;


}
.sidebar .sidebar-content .sidebar-item {
   display: flex;
   align-items: center;
   padding: 20px 12px;

}

.sidebar .sidebar-content .sidebar-item :first-child {
margin: 0px 15px;

}
.sidebar .sidebar-content .sidebar-item :nth-child(2) {
    margin: 0px 8px;
    font-size: 18px;
    color: var(--color-muted-text);


}
.sidebar .sidebar-content .sidebar-item :nth-child(2):hover {
cursor: pointer;
    color: var(--color-off-white);
}
.left-side{
height: auto;
    
}

/* ==========Side bar End=========== */
.body-content{
    background-color: var(--color-off-white);
    margin: 36px;

    display: grid;
    grid-template-rows: 3fr 6fr;
}
/* ==========body-content TopSide=========== */
.body-content .topside{
    display: grid;
        grid-template-columns: 2fr 6fr;

  
}
.body-content .topside .profile-info{
  background-color: var(--color-white);
  margin-right: 72px;

  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  color: var(--color-light);
}
.body-content .topside .profile-info :nth-child(2) {
  font-weight: bold;
  font-size: 22px;
}


.body-content .topside .credits{
background-color: var(--color-white);
color: var(--color-muted-text);

display: grid;
    grid-template-columns: 4fr 4fr 4fr;
  
  
}
.card1{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 22px;
  border-radius: 8px;
  margin: 50px;  
  position: relative;
}
.card1 :first-child{
    margin-bottom: 22px;
}
.card2 :first-child{
    margin-bottom: 22px;
}
.card3 :first-child{
    margin-bottom: 22px;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    padding-left: 22px;
    border-radius: 8px;
    margin: 50px;
    position: relative;
}
.card3{
display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 1px solid rgb(153, 153, 153);
    padding-left: 22px;
    border-radius: 8px;
    margin: 50px;
    position: relative;
}
.card-headline{
        position: absolute;
        top: -35px;
        left: 14px;
        font-size: 22px;
        font-weight: 500;
}
.card-icon{
    position: absolute;
    top: 10px;
    right: 14px;
}
.card1:hover{
    border: 3px solid rgb(238, 147, 0);
    color: var(--color-black);
    border-radius: 8px;
}
.card2:hover{
    border: 3px solid rgb(238, 147, 0);
    color: var(--color-black);
    border-radius: 8px;
}
.card3:hover {
    border: 3px solid rgb(238, 147, 0);
    color: var(--color-black);
    border-radius: 8px;
}
/* ==========body-content TopSide End=========== */
.body-content .bottomside{
    background-color: rgb(5, 94, 97);

}